<!doctype>

<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>SANT'EFREI</title>

        <link rel="stylesheet" href="/css/style.css">
        <!-- Load Vue followed by Vue Router -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/http-vue-loader/src/httpVueLoader.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-router/dist/vue-router.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <!-- BootStrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div id="app">

          <div class="topnav">
              <router-link class="btn-13 custom-btn nav-link" to='/'> Accueil </router-link>
              <router-link class="btn-13 custom-btn nav-link" to='/questionnaire'> Questionnaires</router-link>
              <router-link class="btn-13 custom-btn nav-link" to='/medecins'> Nos medecins </router-link>
              <router-link class="btn-13 custom-btn nav-link" to='/actualite'> Actualité </router-link>

              <div class="topnav-right">
                <router-link v-if="(user_patient.id)" class="btn-13 custom-btn nav-link" to='/mes_rapports'> Mes rapports </router-link>
                <router-link v-if="(user_medecin.id)" class="btn-13 custom-btn nav-link" to='/mes_patients'> Mes patients </router-link>
                <router-link class="btn-13 custom-btn nav-link" v-if="(user_patient.id) || (user_medecin.id)"  to='/profil'> Mon profil </router-link>
                <router-link class="btn-13 custom-btn nav-link" v-if="!(user_patient.id) && !(user_medecin.id)"  to='/register'> S'inscrire </router-link>
                <router-link class="nav-link btn-13 custom-btn " v-if="(user_patient.id) || (user_medecin.id)" to='/deconnexion'>Déconnexion</router-link>
                <router-link class="btn-13 custom-btn nav-link" v-if="!(user_patient.id) && !(user_medecin.id)"  to='/login'>Se connecter </router-link>
              </div>
          </div>

          <main>
            <!-- dans la vue // dans vue-application -->
            <router-view

              :user_patient="user_patient"
              :user_medecin="user_medecin"

              :login="login"
              :user="user"
              :medecinLogin="medecinLogin"
              :questionnaires="questionnaires"
              :symptomes="symptomes"
              :les_medecins="liste_medecins"
              :les_actus="liste_actualite"
              :les_spe="liste_specialites"
              @add_rdv="prendre_rdv"
              @register_patient="register_patient"
              @register_medecin="register_medecin"
              @login="login"
              @medecin_Login="medecinLogin"
              @logout="logout"
              @update-Profile-patient="updateProfile_patient"
            ></router-view>
          </main>

        </div>
        <footer>
            <section class="taille_faible">

              AVERTISSEMENT : Le système SANT'EFREI que vous êtes sur le point d'utiliser est destiné à vous éclairer sur les causes possibles de vos symptômes et à vous aider dans votre orientation médicale.
              Les résultats et conseils qu'il vous fournira ne peuvent en aucun cas remplacer une consultation médicale et ne constituent pas un diagnostic.
            </section>
        </footer>
        <script src="/vue-application.js"></script>
    </body>
</html>
